/**
* BLOCK: License Gifts Tag
*/

// acf preview wrapper
.wp-block-usm-short-and-socks-tag {
  display: contents;
}

.usm-short-and-socks-tag {
  display: flex;
  gap: 4px;

  svg {
    display: block;
    width: 32px;
    height: auto;
    fill: currentColor;
  }
}
