{
  "$schema": "https://json.schemastore.org/semantic-release.json",
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {
          "type": "docs",
          "release": "patch"
        },
        {
          "type": "chore",
          "scope": "deps",
          "release": "patch"
        },
        {
          "type": "perf",
          "release": "patch"
        }
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@google/semantic-release-replace-plugin", {
      "replacements": [
        {
          "files": ["style.css"],
          "from": "Version:(\\s+).*",
          "to": "Version:$1${nextRelease.version}"
        },
        {
          "files": ["package.json"],
          "from": "\"version\": \".*\"",
          "to": "\"version\": \"${nextRelease.version}\""
        }
      ]
    }
    ],
    [
      "@semantic-release/git", {
      "assets": ["CHANGELOG.md", "package.json", "style.css"]
    }
    ],
    [
      "@semantic-release/github", {
      "assets": [
        {
          "path": "*.zip",
          "name": "usm-wordpress-theme-${nextRelease.gitTag}.zip",
          "label": "WordPress Theme ${nextRelease.gitTag}"
        }
      ]
    }
    ]
  ]
}
