<?php

/**
 * The following variables are exposed:
 *
 * @var array    $attributes The block attributes
 * @var string   $content    The block default content
 * @var WP_Block $block      The block instance
 */

?>

<p <?php echo get_block_wrapper_attributes(); ?>>Hello world!</p>
