/**
 * core/button
 */
.wp-block-button {
  // outline
  &.is-style-outline {
    .wp-block-button__link {
      &:not(.has-text-color, .has-background) {
        background: transparent;
        color: var(--wp--custom--color--primary);

        &:hover,
        &:focus {
          background: var(--wp--preset--color--primary);
          color: var(--wp--custom--color--primary-contrast);
        }
      }
    }
  }
}
